<%- include('partials/header') -%>
<div class="container">
  <h2  class="d-flex justify-content-center"><%= user.userName %>'s Uploads </h2>
  <div class="row mt-5">
      
      <div class="container mt-2">
    
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-lg-6 col-md-6 col-sm-6 mb-4">
            <div class="bg-custom-color ">
              <h3 class="newFont text-center"><%= posts[i].name %></h3>
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
            </div>
            
            <div class="row">
              <!-- Edit button -->
              <div class="col-2">
                  <a href="/edit/<%= posts[i]._id%>">
                      <button class="btn btn-warning text-white fa fa-edit">  Edit</button>
                  </a>
              </div>
              <!-- Delete button -->
              <div class="col-3">
                  <form action="/post/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger fa fa-trash" type="submit">  Delete</button>
                  </form>
              </div>
          </div>
          
            
          </li>
        <% } %>
       
        </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>